<p>截至{{"now"|date('Y年m月d日')}}，任氏有无轩主人撰写了{{rs.summary}}篇评论。</p>
<p>最近（{{rs.last.datein|date('Y年m月d日')}}）评论的书籍是<strong><a href="{{path("book_detail", {'id': rs.book.bookid})}}">《{{rs.book.title}}》</a></strong>，题为<strong>“<a href="{{rs.last.URI}}">{{rs.last.title}}</a>”</strong>。</p>

