{% extends "AppBundle:default:layout.html.twig" %}

{% block content %}
    {{ render (controller('AppBundle:Book:latest')) }}

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-3 feature">
                <h3><a href="{{path("book_list")}}"><i class="glyphicons book"></i>藏书</a></h3>
                {{ render (controller('AppBundle:Book:summary')) }}
            </div>
            <div class="col-md-3 feature">
                <h3><a href="{{path('reading_list')}}"><i class="glyphicons tags"></i>读书</a></h3>
                {{ render (controller('AppBundle:Reading:summary')) }}
            </div>
            <div class="col-md-3 feature">
                <h3><a href="http://www.rsywx.net/wordpress"><i class="glyphicons pen"></i>博客</a></h3>
                <p>本博客自2003年开始设立。写的少不是因为我不思考。我思考的越多，写下来的就越少。</p>
                <p>最近的文章发布于{{wp.post_date|date('Y年m月d日H时i分')}}，题为“<strong><a href="https://rsywx.net/wordpress/{{wp.post_date|date('Y/m/d')}}/{{wp.post_name}}">{{wp.post_title}}</a></strong>”。 </p>
            </div>        
            <div class="col-md-3 feature">
                <h3><a href="http://www.rsywx.com"><i class="glyphicons notes_2"></i>维客</a></h3>
                <p>这里是我整理的一些资源，主要是电子书和我最喜爱的<strong><a href="{{path ('lakers', {'year':2015})}}">湖人队的赛程</a></strong>。</p>
                <p>   还可以和我<strong><a href="{{path('contact')}}">取得联系</a></strong>。</p>
            </div>        
        </div> <!-- /row -->
    </div> <!-- /container -->
{% endblock %}